PORT=8000
MONGODB_URL=mongodb+srv://<name>:<password>@cluster0.wadafyq.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-js-backend
REFRESH_TOKEN_EXPIRY=10d